* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
#newGame, #dices, #options, #game, #winner, #back,
#rules, #img, .machine, #forTwoDices1, #forTwoDices2 {
display: none;
}
body {
	background: linear-gradient(to right, #AAFABD, #C9AABA);
  font-family: serif;
  font-weight: 300;
  position: relative;
  height: 100vh;
  color: #222;
}

h3, p, li {text-transform: uppercase;}

#game {
  box-sizing: border-box;
  position: relative;
  background-color: #fff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}
.player1,.player2 {
  width: 40%;
  height: 70vh;
  padding: 30px;
  font-weight: 300;
}

.player1 {
  background-color: rgba(255, 175, 189, 0.1);
  float: left;
}
.player2 {
  background-color: rgba(46, 204, 113, 0.1);
  float: right;
 }
 #rslt1, #rslt2 {
     text-align: center;
     font-size: 80px;
     font-weight: 100;
     margin-bottom: 130px;
 }

 #rslt1{
   color: #EB4D4D;
 }
 #rslt2 {
     color: #2ecc71;
 }

 #roller1, #roller2, #secondRoller1, #secondRoller2 {
 	text-align: center;

   font-size: 60px;
 }
